1757. Recyclable and Low Fat Products

In [3]:
import pandas as pd
data = [['0', 'Y', 'N'], ['1', 'Y', 'Y'], ['2', 'N', 'Y'], ['3', 'Y', 'Y'], ['4', 'N', 'N']]
products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable']).astype({'product_id':'int64', 'low_fats':'category', 'recyclable':'category'})
products.head()

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [4]:
products[(products['low_fats'] == 'Y') & (products['recyclable'] == 'Y')][['product_id']]
'''
SQL code
SELECT product_id
  FROM Products
 WHERE low_fats = 'Y'
   AND recyclable = 'Y';'''

"\nSQL code\nSELECT product_id\n  FROM Products\n WHERE low_fats = 'Y'\n   AND recyclable = 'Y';"

https://leetcode.com/problems/number-of-unique-subjects-taught-by-each-teacher/
2356

In [5]:
data = [[1, 2, 3], [1, 2, 4], [1, 3, 3], [2, 1, 1], [2, 2, 1], [2, 3, 1], [2, 4, 1]]
teacher = pd.DataFrame(data, columns=['teacher_id', 'subject_id', 'dept_id']).astype({'teacher_id':'Int64', 'subject_id':'Int64', 'dept_id':'Int64'})
teacher.groupby('teacher_id')['subject_id'].nunique().reset_index(name='cnt')
'''
SQL
select teacher_id,
count(distinct(subject_id)) as cnt from Teacher
group by teacher_id

'''

'\nSQL\nselect teacher_id,\ncount(distinct(subject_id)) as cnt from Teacher\ngroup by teacher_id\n\n'

1741. Find Total Time Spent by Each Employee

In [37]:
data = [['1', '2020-11-28', '4', '32'], ['1', '2020-11-28', '55', '200'], ['1', '2020-12-3', '1', '42'], ['2', '2020-11-28', '3', '33'], ['2', '2020-12-9', '47', '74']]
employees = pd.DataFrame(data, columns=['emp_id', 'event_day', 'in_time', 'out_time']).astype({'emp_id':'Int64', 'event_day':'datetime64[ns]', 'in_time':'Int64', 'out_time':'Int64'})
'''time_in_office = employees.groupby(['emp_id', 'event_day' ], as_index=False)\
    .aggregate({'in_time': 'sum', 'out_time': 'sum'})
time_in_office = time_in_office.assign(total_time = time_in_office.out_time - time_in_office.in_time)
right_time_in_office = time_in_office.drop(columns=['in_time','out_time'])
right_time_in_office'''
def total_time(employees):
    time_in_officee = employees.groupby(['emp_id', 'event_day' ], as_index=False)\
    .aggregate({'in_time': 'sum', 'out_time': 'sum'})
    time_in_officee = time_in_officee.assign(total_time = time_in_officee.out_time - time_in_officee.in_time)
    right_time_in_office = time_in_officee.drop(columns=['in_time','out_time'])
    return right_time_in_office[['event_day', 'emp_id', 'total_time']]
total_time(employees)
'''SQL
Select event_day as day,emp_id,sum(out_time-in_time) as total_time 
From Employees 
Group By emp_id,event_day;
'''

   event_day  emp_id  total_time
0 2020-11-28       1         173
1 2020-12-03       1          41
2 2020-11-28       2          30
3 2020-12-09       2          27